* {
  margin: 0;
  padding: 0;
}

.page{
  height: 100vh;
  background-color: #512da8;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -2px 2px 10px #711A75, 2px 2px 10px #711A75;
  border: 1px gray solid;
}

.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px black;
  font-size: 36px;
}

.img-holder{
  margin: auto;
  width: 747px;
  height: 420px;
  border-radius: 5px;
  margin-top: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4px 3px 4px rgb(117, 106, 122), -4px 3px 4px rgb(117, 106, 122);
}

.img{
  width: 747px;
  height: 420px;
  /* object-fit: cover; */
}

.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.mainButton{
  margin-top: 1rem;
  margin-left: 1.5rem;
  width: 150px;
	height: 30px;
  color: rgb(240, 230, 230);
  border-radius: 5px;
  background-color: teal;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.mainButton:hover{
  background-color:purple;
}

#submitButton {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: rgb(240, 230, 230);
}

#devnetIcon {
  width: 145px;
  clear: left;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: -30px;
}

.titles {
  color: black;
  font-size: 32px;
}

.theForm {
  margin-top: -300px;
}

.btnChoices {
  width: 75px;
  height:50px;
  padding: 5px 5px;
  font-size: 28px;
  text-align: center;
  line-height: 25px;
  color: rgba(255,255,255,0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
  background-size: 600%;
  animation: anime 16s linear infinite;
  box-shadow: 1px 1px 5px rgb(59, 0, 59);
  margin: 10px;
  /* z-index: -1; */
  /* filter: blur(30px); */
  opacity: 0.9;

}

@keyframes anime {
  0% {
    background-position: 0% 50%
    }
  50%
    {
    background-position: 100% 50%
    }
  100%
    {
  background-position: 0% 50%
    }
  }

  #devDash {
    text-align: center;
    margin: 10px auto;
    width: 250px;
    border: 1px ridge teal;
    box-shadow: 4px 3px 4px rgb(117, 106, 122), -4px 3px 4px rgb(117, 106, 122);
  }

  #welcomeText {
    color: teal;
    text-shadow: 1px 1px purple;
    margin-top: 10px;
    font-weight: bold;
    font-size: 28px;
  }