* {
  margin: 0;
  padding: 0;
}

.page{
  height: 100vh;
  background-color: #512da8;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -2px 2px 25px #711A75, 2px 2px 25px #711A75;
  border: 1px gray solid;
}

.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 36px;
}

.img-holder{
  margin: auto;
  width: 747px;
  height: 420px;
  border-radius: 5px;
  margin-top: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.img{
  width: 747px;
  height: 420px;
  object-fit: cover;
}

.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-upload{
  margin-top: 1rem;
  margin-left: 1.5rem;
  width: 150px;
	height: 30px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

#devnetIcon {
  width: 145px;
  clear: left;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}