* {
  margin: 0;
  padding: 0;
}

.page{
  height: 100vh;
  background-color: #512da8;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -10px 10px #711A75;
  border: 1px gray solid;
}

.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
}

.img-holder{
  margin: auto;
  width: 747px;
  height: 420px;
  border: 1px gray solid;
  border-radius: 5px;
  margin-top: 1rem;
}

.img{
  width: 747px;
  height: 420px;
  object-fit: cover;
}

.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-upload{
  margin-top: 1rem;
  margin-left: 1.5rem;
  width: 150px;
	height: 30px;
  color: white;
  border-radius: 10px;
  background-color: rgb(27, 8, 244);
  text-align: center;
  cursor: pointer;
}

#devnetIcon {
  width: 150px;
  clear: left;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}