*{
  margin: 0;
  padding: 0;
}

.page{
  height: 100vh;
  background-color: #512da8;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
  height: 600px;
  width: 800px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  
}
.heading{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;

}
.img-holder{
  margin: auto;
  width: 747px;
  height: 420px;
  border: 3px black solid;
  border-radius: 5px;
  margin-top: 1rem;
}
.img{
  width: 747px;
  height: 420px;
  object-fit: cover;
}
#input[type="file"] {
	display: none;
}
.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload{
  margin-top: 1rem;
  padding: .7rem;
  width: 100px;
	height: 30px;
  color: white;
  border-radius: 10px;
  background-color: rgb(27, 8, 244);
  text-align: center;
  cursor: pointer;
}